#crayon-log-wrapper {
	/*width: 100%;*/
}

#crayon-log {
	display: none;
	max-height: 200px;
	/*width: 100%;
    /*resize: vertical;*/
	border-color: #DFDFDF;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 1px;
	padding: 3px;
	overflow: auto;
	white-space: pre;
	margin-bottom: 5px;
}

.crayon-span,.crayon-span-5,.crayon-span-10,.crayon-span-50,.crayon-span-100,.crayon-span-110 {
	line-height: 24px;
	display: inline-block;
}

.crayon-span-5 {
	min-width: 5px;
}

.crayon-span-10 {
	min-width: 10px;
}

.crayon-span-50 {
	min-width: 50px;
}

.crayon-span-100 {
	min-width: 100px;
}

.crayon-span-110 {
	min-width: 117px;
}

.crayon-span-margin {
	margin-left: 5px;
}

#height_mode, #width_mode {
	min-width: 65px;
}

.crayon-error {
	color: #F00;
}

.crayon-success {
	color: #00F;
}

.crayon-warning {
	color: #FF8000;
}

.crayon-help {
	min-height: 30px;
	padding: 5px 10px;
}

.crayon-help .crayon-help-close,
.crayon-help .crayon-help-close:active,
.crayon-help .crayon-help-close:hover {
	text-decoration: none;
	float: right;
	color: #000;
}

.crayon-help span,
.crayon-help a {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

#crayon-log-text {
	font: 11px/13px Monaco, 'MonacoRegular', 'Courier New', monospace;
}

#crayon-log-controls {
	float: left;
	margin-right: 5px;
	/*margin: 5px 0px;*/
}

.crayon-table {
	font-size: 12px;
	border: 1px solid #999;
	padding: 0;
	margin: 0;
	margin-top: 12px;
}

.crayon-table td {
	vertical-align: top;
	border-bottom: 1px solid #AAA;
	padding: 0px 6px;
	margin: 0;
	background: #EEE;
}

.crayon-table-light td {
	background: #F8F8F8;
}

.crayon-table-header td {
	font-weight: bold;
	background: #CCC;
}

.crayon-table-last td,
.crayon-table tr:last-child td {
	border: 0;
}

/*#lang-info {
	display: none;
}*/

#lang-info div {
	padding: 5px 0px;
}

.crayon-table .not-parsed {
	color: #F00;
}

.crayon-table .parsed-with-errors {
	color: #FF9900;
}

.crayon-table .successfully-parsed {
	color: #77A000;
}

#crayon-live-preview,
#crayon-log-wrapper {
	padding: 5px;
	width: 95%;
	float: left;
	clear: both;
}

#crayon-live-preview {
	float: none;
	padding: 0;
}

#crayon-logo {
	text-align: center;
}

#crayon-info,
#crayon-info td {
	border: none;
	padding: 0 5px;
	margin: 0px;
}

.crayon-admin-button {
	display: inline-block;
	text-align: center;
}

#crayon-theme-editor-admin-buttons {
	display: inline;
}

#crayon-theme-editor-admin-buttons .crayon-admin-button {
	margin-left: 5px;
}

#crayon-editor-table td {
	vertical-align: top;
}

#gmail-icon, #twitter-icon, #donate-icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	margin: 5px 5px 0 0;
}

#twitter-icon {
	background: url(images/twitter.png);
}

#gmail-icon {
	background: url(images/google.png);
}

#donate-icon {
	background: url(images/donate.png);
	width: 75px;
}

#crayon-donate,
#crayon-donate input {
	margin: 0;
	display: inline;
	padding: 0;
}

/* TinyMCE */

#crayon-te-content,
#crayon-te-table {
	width: 100%;
}

#crayon-te-table th,
#crayon-te-table td {
	vertical-align: top;
}
#crayon-te-table .crayon-tr-center td,
#crayon-te-table .crayon-tr-center th {
	vertical-align: middle;
}

#crayon-te-table .crayon-nowrap {
	white-space: nowrap;
}

#crayon-url-th {
	vertical-align: top !important;
	padding-top: 5px;
}

.crayon-te-heading {
	font-size: 14px;
	font-weight: bold;
}

.crayon-te-section {
	font-weight: bold;
	padding: 0 10px;
}

#crayon-te-sub-section {
	margin-left: 10px;
}
#crayon-te-sub-section .crayon-te-section {
	font-weight: normal;
	padding: 0;
}

#crayon-code {
	width: 100% !important;
	height: 200px;
	white-space: pre;
	/*white-space: nowrap;
	overflow: auto;*/
}

#crayon-url {
	width: 100% !important;
}

.crayon-disabled {
	background: #EEE !important;
}

.wp_themeSkin span.mce_crayon_tinymce {
	background: url(images/crayon_tinymce.png);
}

.mce_crayon_tinymce_highlight,
.qt_crayon_highlight {
	border: 1px solid #7c9dde !important;
}

.qt_crayon_highlight {
	background-image: -ms-linear-gradient(bottom,#daf2ff,white) !important;
	background-image: -moz-linear-gradient(bottom,#daf2ff,white) !important;
	background-image: -o-linear-gradient(bottom,#daf2ff,white) !important;
	background-image: -webkit-linear-gradient(bottom,#daf2ff,white) !important;
	background-image: linear-gradient(bottom,#daf2ff,white) !important;
}

.qt_crayon_highlight:hover{
	background:#ddebf2 !important;
}

.mce_crayon_tinymce_highlight span.mce_crayon_tinymce,
.wp_themeSkin .mceButtonEnabled:hover span.mce_crayon_tinymce, .wp_themeSkin .mceButtonActive span.mce_crayon_tinymce {
	background-position: -20px 0;
}

#crayon-te-table {
	padding: 10px;
}

#crayon-te-table th {
	width: 100px;
}

/*#crayon-te-table span {
	margin-left: 4px;
}*/

#crayon-te-clear {
	margin-left: 10px;
	color: #666;
	background-color: #f4f4f4;
}

#crayon-title {
	width: 360px;
}

#TB_window.crayon-te-ajax {
	overflow: auto !important;
}

#TB_window.crayon-te-ajax,
#TB_window.crayon-te-ajax #TB_ajaxContent,
#TB_window.crayon-te-ajax #TB_title {
	width: 680px !important;
}

#TB_window.crayon-te-ajax #TB_ajaxContent {
	padding: 0 !important;
	margin: 0 !important;
	width: 100% !important;
	height: auto !important;
	margin-top: 28px !important;
}

#TB_window.crayon-te-ajax #TB_title {
	position: fixed !important;
}

#TB_window.crayon-te-ajax #TB_title .crayon-te-submit {
	margin-top: 3px !important;
	float: right !important;
}

#TB_window.crayon-te-ajax a {
	color: #2587e2;
	text-decoration: none;
}

#TB_window.crayon-te-ajax a:hover {
	color: #499ce9;
}

.crayon-te-quote {
	background: #DDD;
	padding: 0 2px;
}

#crayon-te-submit-wrapper {
	display: none;
}

#crayon-te-clear {
	display: none;
}

.crayon-syntax-pre {
	background: red;
	white-space: pre;
	overflow: auto;
	display: block;
	word-wrap: break-word;
}

.crayon-question {
	padding: 1px 4px !important;
	background: #83b3cb !important;
	text-decoration: none !important;
	color: white !important;
	border-radius: 10px !important;
	height: 15px !important;
	width: 15px !important;
}

.crayon-setting {
	
}

.crayon-setting-changed,
.crayon-setting-selected {
	background: #fffaad !important;
}

.crayon-question:hover {
	color: white;
	background: #a6d6ef;
}

#crayon-te-warning {
	display: none;
}

.crayon-te-info {
	padding: 5px !important;
	margin: 2px 0 !important;
}

#crayon-te-submit {
	margin-bottom: 5px;
}
