/* Scrollbars ====================== */
::-webkit-scrollbar {
    width: 21px;
    height: 21px;
}

/* Horizontal
/* The scrollbar slider */
::-webkit-scrollbar-thumb:horizontal {
    -webkit-border-image: url(images/thumb_horizontal.png) 0 10;
    border-color: transparent;
    border-width: 0 10px;
    min-width: 50px;
}
/* The scrollbar background */
::-webkit-scrollbar-track-piece:horizontal:increment,
::-webkit-scrollbar-track-piece:horizontal:decrement {
    -webkit-border-image: url(images/track_horizontal.png) 0 10;
    border-color: transparent;
}
::-webkit-scrollbar-track-piece:horizontal:decrement {
    border-width: 0 0 0 10px;
}
::-webkit-scrollbar-track-piece:horizontal:increment {
    border-width: 0 10px 0 0;
}

/* Vertical
/* The scrollbar slider */
::-webkit-scrollbar-thumb:vertical {
    -webkit-border-image: url(images/thumb_vertical.png) 10 0;
    border-color: transparent;
    border-width: 10px 0;
    min-height: 50px;
}
/* The scrollbar background */
::-webkit-scrollbar-track-piece:vertical:increment,
::-webkit-scrollbar-track-piece:vertical:decrement {
    -webkit-border-image: url(images/track_vertical.png) 10 0;
    border-color: transparent;
}
::-webkit-scrollbar-track-piece:vertical:decrement {
    border-width: 10px 0 0 0;
}
::-webkit-scrollbar-track-piece:vertical:increment {
    border-width: 0 0 10px 0;
}
/* End Scrollbars ================== */
