/*
Name: Terminal
Description: Looks like a terminal.
Version: 1.1
Author: Aram Kocharyan
URL: http://aramk.com/
*/
.crayon-theme-terminal {
	border-width: 1px !important;
	border-color: #999 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #1b3400 !important;
}
.crayon-theme-terminal-inline {
	border-width: 1px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #1b3400 !important;
}
.crayon-theme-terminal .crayon-table .crayon-nums {
	background: #286900 !important;
	color: #97cf32 !important;
	border-right-color: #55a800 !important;
	border-right-width: 2 !important;
	border-right-style: solid !important;
}
.crayon-theme-terminal .crayon-striped-line {
	background: #1a4100 !important;
}
.crayon-theme-terminal .crayon-striped-num {
	background: #478100 !important;
	color: #97cf32 !important;
}
.crayon-theme-terminal .crayon-marked-line {
	background: #2e5a00 !important;
	border-width: 1px !important;
	border-color: #667f00 !important;
}
.crayon-theme-terminal .crayon-marked-num {
	color: #97cf32 !important;
	background: #2f5f00 !important;
	border-width: 1px !important;
	border-color: #286900 !important;
}
.crayon-theme-terminal .crayon-marked-line.crayon-striped-line {
	background: #4a6500 !important;
}
.crayon-theme-terminal .crayon-marked-num.crayon-striped-num {
	background: #567d00 !important;
	color: #97cf32 !important;
}
.crayon-theme-terminal .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-terminal .crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-terminal .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-terminal .crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-terminal .crayon-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.crayon-theme-terminal .crayon-toolbar {
	background: #375e00 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #779700 !important;
	border-bottom-style: solid !important;
}
.crayon-theme-terminal .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-terminal .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-terminal .crayon-title {
	color: #87ca00 !important;
}
.crayon-theme-terminal .crayon-language {
	color: #266400 !important;
	background-color: #669900 !important;
}
.crayon-theme-terminal .crayon-button {
	background-color: #669900 !important;
}
.crayon-theme-terminal .crayon-button:hover {
	background-color: #76b800 !important;
	color: #666;
}
.crayon-theme-terminal .crayon-button.crayon-pressed:hover {
	background-color: #76b800 !important;
	color: #666;
}
.crayon-theme-terminal .crayon-button.crayon-pressed {
	background-color: #4e7a00 !important;
	color: #FFF;
}
.crayon-theme-terminal .crayon-button.crayon-pressed:active {
	background-color: #4e7a00 !important;
	color: #FFF;
}
.crayon-theme-terminal .crayon-button:active {
	background-color: #4e7a00 !important;
	color: #FFF;
}
.crayon-theme-terminal .crayon-pre {
	color: #ffffff !important;
}
.crayon-theme-terminal .crayon-pre .crayon-c {
	color: #ff9b00 !important;
}
.crayon-theme-terminal .crayon-pre .crayon-s {
	color: #3ec700 !important;
}
.crayon-theme-terminal .crayon-pre .crayon-p {
	color: #caaf00 !important;
}
.crayon-theme-terminal .crayon-pre .crayon-ta {
	color: #ffdd00 !important;
}
.crayon-theme-terminal .crayon-pre .crayon-k {
	color: #95e100 !important;
}
.crayon-theme-terminal .crayon-pre .crayon-st {
	color: #95e100 !important;
}
.crayon-theme-terminal .crayon-pre .crayon-r {
	color: #95e100 !important;
}
.crayon-theme-terminal .crayon-pre .crayon-t {
	color: #95e100 !important;
}
.crayon-theme-terminal .crayon-pre .crayon-m {
	color: #95e100 !important;
}
.crayon-theme-terminal .crayon-pre .crayon-i {
	color: #ffffff !important;
}
.crayon-theme-terminal .crayon-pre .crayon-e {
	color: #e7ff5e !important;
}
.crayon-theme-terminal .crayon-pre .crayon-v {
	color: #ffffff !important;
}
.crayon-theme-terminal .crayon-pre .crayon-cn {
	color: #e7ffb9 !important;
}
.crayon-theme-terminal .crayon-pre .crayon-o {
	color: #95e100 !important;
}
.crayon-theme-terminal .crayon-pre .crayon-sy {
	color: #c9c9c9 !important;
}
.crayon-theme-terminal .crayon-pre .crayon-n {
	color: #d4ff8e !important;
	font-style: italic !important;
}
.crayon-theme-terminal .crayon-pre .crayon-f {
	color: #639f00 !important;
}
.crayon-theme-terminal .crayon-pre .crayon-h {
	color: #ffffff !important;
}
