/*
Name: Obsidian Light
Description: Eclipse Obsidian theme inspired by http://eclipsecolorthemes.org/?view=theme&id=21
Version: 1.0
Author: Wolfgang Magerl
URL: http://stonefred.at
*/
.crayon-theme-obsidian-light {
	color: #e0e2e4;
	margin-bottom: 25px !important;
	background-color: #f8f8ff !important;
	font-size: 100% !important;
	line-height: 130% !important;
	background: #f5f5f5 !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #dcdcdc !important;
}
.crayon-syntax .crayon-pre {
	color: #e0e2e4;
}
.crayon-syntax pre {
	color: #e0e2e4;
}
.crayon-theme-obsidian-light .crayon-toolbar {
	background-color: #eee !important;
	border-bottom-color: 1px solid #dedede !important;
}
.crayon-theme-obsidian-light .crayon-toolbar .crayon-language {
	font-size: 80% !important;
	color: #666 !important;
}
.crayon-theme-obsidian-light .crayon-toolbar .crayon-title {
	font-size: 80% !important;
	color: #666 !important;
}
.crayon-theme-obsidian-light .crayon-table .crayon-nums {
	background-color: #eee !important;
	background: #f5f5f5 !important;
	color: #7f7f7f !important;
	border-right-width: 1px !important;
	border-right-color: #7f7f7f !important;
}
.crayon-theme-obsidian-light .crayon-table .crayon-nums-content {
	padding-top: 5px !important;
	padding-bottom: 3px !important;
}
.crayon-theme-obsidian-light .crayon-table .crayon-num {
	min-width: 1.2em !important;
	text-align: right !important;
	color: #81969a !important;
	border-right-style: solid !important;
	border-right-width: 1px !important;
	border-right-color: #81969a !important;
}
.crayon-theme-obsidian-light .crayon-pre {
	padding-top: 5px !important;
	padding-bottom: 3px !important;
	color: #000000 !important;
}
.crayon-theme-obsidian-light .crayon-marked-line {
	background: #dcdcdc !important;
	border-width: 1px !important;
	border-color: #7f7f7f !important;
}
.crayon-theme-obsidian-light .crayon-marked-num {
	color: #7f7f7f !important;
	background: #dcdcdc !important;
	border-width: 1px !important;
	border-color: #7f7f7f !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-c {
	color: #7f7f7f !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-s {
	color: #ff6400 !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-p {
	color: #af0f91 !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-ta {
	color: #000000 !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-k {
	color: #000000 !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-st {
	color: #000000 !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-r {
	color: #000000 !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-t {
	color: #1d881d !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-m {
	color: #1d881d !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-i {
	color: #000000 !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-e {
	color: #3f3fff !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-v {
	color: #000000 !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-cn {
	color: #af0f91 !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-o {
	color: #000000 !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-sy {
	color: #000000 !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-n {
	color: #666666 !important;
	font-style: italic !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-f {
	color: #999999 !important;
}
.crayon-theme-obsidian-light .crayon-pre .crayon-h {
	color: #000000 !important;
}
.crayon-theme-obsidian-light .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-obsidian-light .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-obsidian-light .crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-obsidian-light .crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-obsidian-light .crayon-striped-num {
	color: #7f7f7f !important;
	background: #f5f5f5 !important;
}
.crayon-theme-obsidian-light .crayon-marked-num.crayon-striped-num {
	background: #dcdcdc !important;
	color: #7f7f7f !important;
}
.crayon-theme-obsidian-light .crayon-striped-line {
	background: #f5f5f5 !important;
}
.crayon-theme-obsidian-light .crayon-marked-line.crayon-striped-line {
	background: #dcdcdc !important;
}
.crayon-theme-obsidian-light-inline {
	background: #dcdcdc !important;
	border-width: 1px !important;
	border-color: #dcdcdc !important;
}
