/*
Name: Epicgeeks
Description: Epicgeeks Theme. 
Version: 1.2
Author: J. Newing (synmuffin)
URL: http://epicgeeks.net/
*/
.crayon-theme-epicgeeks {
	text-shadow: none !important;
	background: #ffffe1 !important;
	border-width: 1px !important;
	border-color: #e1e1e1 !important;
	border-style: solid !important;
}
.crayon-theme-epicgeeks .crayon-code {
	background: #fdfdfd !important;
}
.crayon-theme-epicgeeks-inline {
	border-width: 1px !important;
	border-color: #e1e1e1 !important;
	border-style: solid !important;
	background: #ffffe1 !important;
}
.crayon-theme-epicgeeks .crayon-table .crayon-nums {
	background: #ffff9f !important;
	color: #333333 !important;
	border-right-width: 1px !important;
	border-right-color: #3cc0ff !important;
	border-right-style: dashed !important;
}
.crayon-theme-epicgeeks .crayon-striped-line {
	background: #ffffd2 !important;
	border-width: 1px !important;
	border-color: #f0f0f0 !important;
	border-style: dashed !important;
}
.crayon-theme-epicgeeks .crayon-striped-num {
	background: #ffff7c !important;
	border-width: 1px !important;
	border-color: #cccccc !important;
	border-style: dashed !important;
}
.crayon-theme-epicgeeks .crayon-marked-line {
	background: #fffee2 !important;
	border-width: 1px !important;
	border-color: #e9e579 !important;
}
.crayon-theme-epicgeeks .crayon-marked-num {
	color: #1561ac !important;
	background: #f2f24b !important;
	border-width: 1px !important;
	border-color: #e9e579 !important;
}
.crayon-theme-epicgeeks .crayon-marked-line.crayon-striped-line {
	background: #faf8d1 !important;
}
.crayon-theme-epicgeeks .crayon-marked-num.crayon-striped-num {
	background: #dddd1c !important;
	color: #105395 !important;
}
.crayon-theme-epicgeeks .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-epicgeeks .crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-epicgeeks .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-epicgeeks .crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-epicgeeks .crayon-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: dashed !important;
	color: #7e7d34 !important;
}
.crayon-theme-epicgeeks .crayon-toolbar {
	background: #f9f9f9 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #d2d2d2 !important;
	border-bottom-style: solid !important;
}
.crayon-theme-epicgeeks .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-epicgeeks .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-epicgeeks .crayon-title {
	color: #333 !important;
}
.crayon-theme-epicgeeks .crayon-language {
	color: #999 !important;
}
.crayon-theme-epicgeeks .crayon-button {
	background-color: transparent !important;
}
.crayon-theme-epicgeeks .crayon-button:hover {
	background-color: #EFEFEF !important;
	color: #666;
}
.crayon-theme-epicgeeks .crayon-button.crayon-pressed:hover {
	background-color: #EFEFEF !important;
	color: #666;
}
.crayon-theme-epicgeeks .crayon-button.crayon-pressed {
	background-color: #DDD !important;
	color: #FFF;
}
.crayon-theme-epicgeeks .crayon-button.crayon-pressed:active {
	background-color: #DDD !important;
	color: #FFF;
}
.crayon-theme-epicgeeks .crayon-button:active {
	background-color: #DDD !important;
	color: #FFF;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-c {
	color: #787878 !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-p {
	color: #a3a3a3 !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-s {
	color: #90c300 !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-k {
	color: #ff00aa !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-st {
	color: #ff00aa !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-r {
	color: #ff00aa !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-t {
	color: #ff00aa !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-m {
	color: #ff00aa !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-i {
	color: #878787 !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-v {
	color: #ca00ff !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-e {
	color: #00d5ff !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-cn {
	color: #e87b7b !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-o {
	color: #006fe0 !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-h {
	color: #006fe0 !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-sy {
	color: #3c3c3c !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-n {
	color: #b7b7b7 !important;
	font-style: italic !important;
}
.crayon-theme-epicgeeks .crayon-pre .crayon-f {
	color: #cfcfcf !important;
}
