/*
Name: Secrets Of Rock 1
Description: Secrets of Rock CD
Version: 1.0
Author: Heffa Fuzzel
Url: http://www.secretsofrock.net
*/
.crayon-theme-secrets-of-rock {
	border-width: 1px !important;
	border-color: #4fb9b1 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #fdfdfd !important;
}
.crayon-theme-secrets-of-rock-inline {
	border-width: 0px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #fafafa !important;
}
.crayon-theme-secrets-of-rock .crayon-table .crayon-nums {
	background: #4fb9b1 !important;
	color: #333 !important;
}
.crayon-theme-secrets-of-rock .crayon-striped-line {
	background: #f7f7f7 !important;
}
.crayon-theme-secrets-of-rock .crayon-striped-num {
	background: #0f9f97 !important;
	color: #333 !important;
}
.crayon-theme-secrets-of-rock .crayon-marked-line {
	background: #c6e3e0 !important;
	border-width: 1px !important;
	border-color: #4fb9b1 !important;
}
.crayon-theme-secrets-of-rock .crayon-marked-num {
	color: #00bfff !important;
	background: #333 !important;
	border-width: 1px !important;
	border-color: #5999d9 !important;
}
.crayon-theme-secrets-of-rock .crayon-marked-line.crayon-striped-line {
	background: #d9f3f1 !important;
}
.crayon-theme-secrets-of-rock .crayon-marked-num.crayon-striped-num {
	background: #444 !important;
	color: #afeeee !important;
}
.crayon-theme-secrets-of-rock .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-secrets-of-rock .crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-secrets-of-rock .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-secrets-of-rock .crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-secrets-of-rock .crayon-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.crayon-theme-secrets-of-rock .crayon-toolbar {
	background: #fdfdfd !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #4fb9b1 !important;
	border-bottom-style: solid !important;
}
.crayon-theme-secrets-of-rock .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-secrets-of-rock .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-secrets-of-rock .crayon-title {
	color: #333 !important;
}
.crayon-theme-secrets-of-rock .crayon-language {
	color: #4fb9b1 !important;
}
.crayon-theme-secrets-of-rock a.crayon-button {
	background-color: transparent !important;
}
.crayon-theme-secrets-of-rock a.crayon-button:hover {
	background-color: #c0e3e1 !important;
	color: #666;
}
.crayon-theme-secrets-of-rock a.crayon-button.crayon-pressed:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-secrets-of-rock a.crayon-button.crayon-pressed {
	background-color: #4fb9b1 !important;
	color: #FFF;
}
.crayon-theme-secrets-of-rock a.crayon-button.crayon-pressed:active {
	background-color: #4fb9b1 !important;
	color: #FFF;
}
.crayon-theme-secrets-of-rock a.crayon-button:active {
	background-color: #4fb9b1 !important;
	color: #FFF;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-c {
	color: #2e8b57 !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-s {
	color: #000333 !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-p {
	color: #b85c00 !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-ta {
	color: #00bfff !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-k {
	color: #2e8b57 !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-st {
	color: #333 !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-r {
	color: #4fb9b1 !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-t {
	color: #008b8b !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-m {
	color: #2e8b57 !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-i {
	color: #333 !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-e {
	color: #008b8b !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-v {
	color: #2e8b57 !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-cn {
	color: #2f4f4f !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-o {
	color: #008b8b !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-sy {
	color: #333 !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-n {
	color: #666 !important;
	font-style: italic !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-f {
	color: #999 !important;
}
.crayon-theme-secrets-of-rock .crayon-pre .crayon-h {
	color: #008b8b !important;
}
