/*
Name: Twilight
Description: Dark and elegant. 
Version: 1.4
Author: Aram Kocharyan
URL: http://aramk.com/
*/
.crayon-theme-twilight {
	text-shadow: none !important;
	color: #fff;
	background: #2d2d2d !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #333 !important;
}
.crayon-theme-twilight .crayon-code {
	background: #2d2d2d !important;
}
.crayon-theme-twilight-inline {
	background: #333 !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #333 !important;
}
.crayon-theme-twilight span {
	color: #999 !important;
}
.crayon-theme-twilight .crayon-table .crayon-nums {
	color: #333 !important;
	background: #909090 !important;
	border-right-style: solid !important;
	border-right-width: 1px !important;
	border-right-color: #333 !important;
}
.crayon-theme-twilight .crayon-striped-line {
	background: #343434 !important;
	border-width: 1px !important;
	border-color: #171717 !important;
}
.crayon-theme-twilight .crayon-striped-num {
	background: #aaa !important;
	color: #555 !important;
	border-width: 1px !important;
	border-color: #CCC !important;
}
.crayon-theme-twilight .crayon-marked-line {
	background: #484844 !important;
	border-width: 1px !important;
	border-color: #222 !important;
}
.crayon-theme-twilight .crayon-marked-num {
	color: #555 !important;
	background: #bbb !important;
	border-width: 1px !important;
	border-color: #777 !important;
}
.crayon-theme-twilight .crayon-marked-line.crayon-striped-line {
	background: #51514d !important;
}
.crayon-theme-twilight .crayon-marked-num.crayon-striped-num {
	background: #ccc !important;
	color: #888 !important;
}
.crayon-theme-twilight .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-twilight .crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-twilight .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-twilight .crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-twilight .crayon-info {
	background: #faf9d7 !important;
	color: #7e7d34 !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
}
.crayon-theme-twilight .crayon-toolbar {
	background: #b2b2b2 !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #666 !important;
}
.crayon-theme-twilight .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-twilight .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-twilight .crayon-title {
	color: #333 !important;
}
.crayon-theme-twilight .crayon-language {
	color: #666 !important;
}
.crayon-theme-twilight .crayon-toolbar .crayon-mixed-highlight {
	background-position: -24px center;
}
.crayon-theme-twilight .crayon-button {
	background-color: transparent !important;
}
.crayon-theme-twilight .crayon-button:hover {
	background-color: #ccc !important;
	color: #666;
}
.crayon-theme-twilight .crayon-button.crayon-pressed:hover {
	background-color: #ccc !important;
	color: #666;
}
.crayon-theme-twilight .crayon-button.crayon-pressed {
	background-color: #999 !important;
	color: #ccc;
}
.crayon-theme-twilight .crayon-button.crayon-pressed:active {
	background-color: #999 !important;
	color: #ccc;
}
.crayon-theme-twilight .crayon-button:active {
	background-color: #999 !important;
	color: #ccc;
}
.crayon-theme-twilight .crayon-pre .crayon-c {
	color: #7f7b80 !important;
}
.crayon-theme-twilight .crayon-pre .crayon-p {
	color: #a19ba2 !important;
}
.crayon-theme-twilight .crayon-pre .crayon-s {
	color: #a0ab83 !important;
}
.crayon-theme-twilight .crayon-pre .crayon-k {
	color: #d8b584 !important;
}
.crayon-theme-twilight .crayon-pre .crayon-st {
	color: #d8b584 !important;
}
.crayon-theme-twilight .crayon-pre .crayon-r {
	color: #d8b584 !important;
}
.crayon-theme-twilight .crayon-pre .crayon-t {
	color: #d8b584 !important;
}
.crayon-theme-twilight .crayon-pre .crayon-m {
	color: #d8b584 !important;
}
.crayon-theme-twilight .crayon-pre .crayon-ta {
	color: #AAA !important;
}
.crayon-theme-twilight .crayon-pre .crayon-i {
	color: #fbefb1 !important;
}
.crayon-theme-twilight .crayon-pre .crayon-v {
	color: #879ab2 !important;
}
.crayon-theme-twilight .crayon-pre .crayon-e {
	color: #ad8258 !important;
}
.crayon-theme-twilight .crayon-pre .crayon-cn {
	color: #db7e64 !important;
}
.crayon-theme-twilight .crayon-pre .crayon-o {
	color: #ac99ab !important;
}
.crayon-theme-twilight .crayon-pre .crayon-h {
	color: #ac99ab !important;
}
.crayon-theme-twilight .crayon-pre .crayon-sy {
	color: #ac99ab !important;
}
.crayon-theme-twilight .crayon-pre .crayon-n {
	color: #726e73 !important;
	font-style: italic !important;
}
.crayon-theme-twilight .crayon-pre .crayon-f {
	color: #595959 !important;
}
.crayon-theme-twilight .crayon-pre {
	color: #ffffff !important;
}
