/*
Name: Vs2012 Black
Description: Visual Studio 2012 Black Theme
Version: 1.1
Author: Nikolay Zahariev
URL: http://nikolayzahariev.com/
*/
.crayon-theme-vs2012-black {
	border-width: 1px !important;
	border-color: #999 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #363232 !important;
}
.crayon-theme-vs2012-black-inline {
	border-width: 1px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #1b5b89 !important;
}
.crayon-theme-vs2012-black .crayon-table .crayon-nums {
	background: #363232 !important;
	color: #1ba2c6 !important;
}
.crayon-theme-vs2012-black .crayon-striped-line {
	background: #363232 !important;
}
.crayon-theme-vs2012-black .crayon-striped-num {
	background: #363232 !important;
	color: #1ba2c6 !important;
}
.crayon-theme-vs2012-black .crayon-marked-line {
	background: #1b5b89 !important;
	border-width: 1px !important;
	border-color: #433636 !important;
}
.crayon-theme-vs2012-black .crayon-marked-num {
	color: #1ba2c6 !important;
	background: #363232 !important;
	border-width: 1px !important;
	border-color: #363232 !important;
}
.crayon-theme-vs2012-black .crayon-marked-line.crayon-striped-line {
	background: #363232 !important;
}
.crayon-theme-vs2012-black .crayon-marked-num.crayon-striped-num {
	background: #363232 !important;
	color: #1ba2c6 !important;
}
.crayon-theme-vs2012-black .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-vs2012-black .crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-vs2012-black .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-vs2012-black .crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-vs2012-black .crayon-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.crayon-theme-vs2012-black .crayon-toolbar {
	background: #DDD !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #BBB !important;
	border-bottom-style: solid !important;
}
.crayon-theme-vs2012-black .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-vs2012-black .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-vs2012-black .crayon-title {
	color: #333 !important;
}
.crayon-theme-vs2012-black .crayon-language {
	color: #999 !important;
}
.crayon-theme-vs2012-black a.crayon-button {
	background-color: transparent !important;
}
.crayon-theme-vs2012-black a.crayon-button:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-vs2012-black a.crayon-button.crayon-pressed:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-vs2012-black a.crayon-button.crayon-pressed {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-vs2012-black a.crayon-button.crayon-pressed:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-vs2012-black a.crayon-button:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-c {
	color: #458b45 !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-s {
	color: #b78686 !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-p {
	color: #7f7c79 !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-ta {
	color: #FF0000 !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-k {
	color: #94ccfd !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-st {
	color: #94ccfd !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-r {
	color: #94ccfd !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-t {
	color: #94ccfd !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-m {
	color: #94ccfd !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-i {
	color: #6bdacc !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-e {
	color: #ffffff !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-v {
	color: #e3e8ea !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-cn {
	color: #ffffff !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-o {
	color: #ffffff !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-sy {
	color: #ffffff !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-n {
	color: #666 !important;
	font-style: italic !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-f {
	color: #ffffff !important;
}
.crayon-theme-vs2012-black .crayon-pre .crayon-h {
	color: #006fe0 !important;
}
.crayon-theme-vs2012-black .crayon-pre {
	color: #ffffff !important;
}
