/*
Name: Son Of Obsidian
Description: Inspired from http://studiostyl.es/schemes/son-of-obsidian
Version: 1.1
Original Author: http://studiostyl.es/users/135
Author: Phiphou
URL: http://blog.phiphou.com
Twitter: @__phiphou__
*/
.crayon-theme-son-of-obsidian {
	text-shadow: none !important;
	background: #fafafa !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #ddd !important;
}
.crayon-theme-son-of-obsidian .crayon-code {
	background: #22282a !important;
	color: #f1f2f3 !important;
}
.crayon-theme-son-of-obsidian .crayon-table .crayon-nums {
	background: #22282a !important;
	color: #808080 !important;
	border-right-style: solid !important;
	border-right-width: 1px !important;
	border-right-color: #475459 !important;
}
.crayon-theme-son-of-obsidian .crayon-striped-line {
	background: #22282a !important;
	border-width: 1px !important;
	border-color: #ccc !important;
}
.crayon-theme-son-of-obsidian .crayon-striped-num {
	background: #293134 !important;
	color: #808080 !important;
	border-width: 1px !important;
	border-color: #22282a !important;
}
.crayon-theme-son-of-obsidian .crayon-marked-line {
	background: #40292c !important;
	border-width: 1px !important;
	border-color: #996b72 !important;
}
.crayon-theme-son-of-obsidian .crayon-marked-num {
	color: #808080 !important;
	background: #40292c !important;
	border-width: 1px !important;
	border-color: #996b72 !important;
}
.crayon-theme-son-of-obsidian .crayon-marked-line.crayon-striped-line {
	background: #40292c !important;
}
.crayon-theme-son-of-obsidian .crayon-marked-num.crayon-striped-num {
	background: #663d43 !important;
	color: #808080 !important;
	border-width: 1px !important;
	border-color: #996b72 !important;
}
.crayon-theme-son-of-obsidian .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-son-of-obsidian .crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-son-of-obsidian .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-son-of-obsidian .crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-son-of-obsidian .crayon-info {
	background: #faf9d7 !important;
	color: #7e7d34 !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
}
.crayon-theme-son-of-obsidian .crayon-toolbar {
	background: #ddd !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #bbb !important;
}
.crayon-theme-son-of-obsidian .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-son-of-obsidian .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-son-of-obsidian .crayon-title {
	color: #333 !important;
}
.crayon-theme-son-of-obsidian .crayon-language {
	color: #999 !important;
}
.crayon-theme-son-of-obsidian .crayon-button {
	background-color: transparent !important;
}
.crayon-theme-son-of-obsidian .crayon-button:hover {
	background-color: #eee !important;
	color: #666;
}
.crayon-theme-son-of-obsidian .crayon-button.crayon-pressed:hover {
	background-color: #eee !important;
	color: #666;
}
.crayon-theme-son-of-obsidian .crayon-button.crayon-pressed {
	background-color: #bcbcbc !important;
	color: #fff;
}
.crayon-theme-son-of-obsidian .crayon-button.crayon-pressed:active {
	background-color: #bcbcbc !important;
	color: #fff;
}
.crayon-theme-son-of-obsidian .crayon-button:active {
	background-color: #bcbcbc !important;
	color: #fff;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-c {
	color: #66747b !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-p {
	color: #00FF00 !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-s {
	color: #ec7600 !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-k {
	color: #a082bd !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-st {
	color: #a082bd !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-r {
	color: #a082bd !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-t {
	color: #a082bd !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-m {
	color: #a082bd !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-ta {
	color: #99daf9 !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-i {
	color: #678cb1 !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-v {
	color: #678cb1 !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-e {
	color: #95c763 !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-cn {
	color: #99daf9 !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-o {
	color: #ffcd22 !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-h {
	color: #ffcd22 !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-sy {
	color: #f1f2f3 !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-n {
	color: #f1f2f3 !important;
	font-style: italic !important;
}
.crayon-theme-son-of-obsidian .crayon-pre .crayon-f {
	color: #898989 !important;
}
.crayon-theme-son-of-obsidian .crayon-pre {
	color: #ffffff !important;
}
