/*
Name: Ado
Description: Classic extended. 
Version: 1.1
Author: Andrea Dell'Orco
URL: http://www.adostudio.it/
*/
.crayon-theme-ado {
	border-width: 1px !important;
	border-color: #999 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #fdfdfd !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.crayon-theme-ado-inline {
	border-width: 1px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #fafafa !important;
}
.crayon-theme-ado .crayon-table .crayon-nums {
	background: #333333 !important;
	color: #DEDEDE !important;
	border-right-width: 1px !important;
	border-right-style: solid !important;
	border-right-color: #202020 !important;
}
.crayon-theme-ado .crayon-code *::selection,
.crayon-theme-ado .crayon-plain::selection {
	background: #BBEEDA !important;
	color: #269B6C !important;
}
.crayon-theme-ado *::selection {
	background: transparent !important;
}
.crayon-theme-ado .crayon-striped-line {
	background: #f7f7f7 !important;
}
.crayon-theme-ado .crayon-striped-num {
	background: #5B5B5B !important;
	color: #fff !important;
}
.crayon-theme-ado .crayon-marked-line {
	background: #C7F1ED !important;
	border-width: 1px !important;
	border-color: #9AE7DF !important;
}
.crayon-theme-ado .crayon-marked-num {
	color: #82DFC4 !important;
	background: #333333 !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #202020 !important;
}
.crayon-theme-ado .crayon-marked-line.crayon-striped-line {
	background: #B7EEE9 !important;
}
.crayon-theme-ado .crayon-marked-num.crayon-striped-num {
	background: #5B5B5B !important;
	color: #82DFC4 !important;
}
.crayon-theme-ado .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-ado .crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-ado .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-ado .crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-ado .crayon-info {
	background: #E8E8E8 !important;
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
	border-bottom-color: #888888 !important;
	color: #595959 !important;
}
.crayon-theme-ado .crayon-toolbar {
	background: #DDD !important;
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
	border-bottom-color: #BBB !important;
}
.crayon-theme-ado .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-ado .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-ado .crayon-title {
	color: #333 !important;
}
.crayon-theme-ado .crayon-language {
	color: #999 !important;
}
.crayon-theme-ado .crayon-button {
	background-color: transparent !important;
}
.crayon-theme-ado .crayon-button:hover {
	background-color: #F2F2F2 !important;
	color: #666;
}
.crayon-theme-ado .crayon-button.crayon-pressed:hover {
	background-color: #F2F2F2 !important;
	color: #666;
}
.crayon-theme-ado .crayon-button.crayon-pressed {
	background-color: #BBB !important;
	color: #FFF;
}
.crayon-theme-ado .crayon-button.crayon-pressed:active {
	background-color: #BBB !important;
	color: #FFF;
}
.crayon-theme-ado .crayon-button:active {
	background-color: #BBB !important;
	color: #FFF;
}
.crayon-theme-ado .crayon-pre .crayon-p {
	color: #b85c00 !important;
}
.crayon-theme-ado .crayon-pre .crayon-s {
	color: #008000 !important;
}
.crayon-theme-ado .crayon-pre .crayon-k {
	color: #800080 !important;
}
.crayon-theme-ado .crayon-pre .crayon-st {
	color: #800080 !important;
}
.crayon-theme-ado .crayon-pre .crayon-r {
	color: #800080 !important;
}
.crayon-theme-ado .crayon-pre .crayon-t {
	color: #800080 !important;
}
.crayon-theme-ado .crayon-pre .crayon-m {
	color: #800080 !important;
}
.crayon-theme-ado .crayon-pre .crayon-ta {
	color: #FF0000 !important;
}
.crayon-theme-ado .crayon-pre .crayon-i {
	color: #000 !important;
}
.crayon-theme-ado .crayon-pre .crayon-v {
	color: #002D7A !important;
}
.crayon-theme-ado .crayon-pre .crayon-e {
	color: #004ed0 !important;
}
.crayon-theme-ado .crayon-pre .crayon-cn {
	color: #ce0000 !important;
}
.crayon-theme-ado .crayon-pre .crayon-o {
	color: #006fe0 !important;
}
.crayon-theme-ado .crayon-pre .crayon-h {
	color: #006fe0 !important;
}
.crayon-theme-ado .crayon-pre .crayon-sy {
	color: #333 !important;
}
.crayon-theme-ado .crayon-pre .crayon-n {
	color: #666 !important;
	font-style: italic !important;
}
.crayon-theme-ado .crayon-pre .crayon-f {
	color: #999 !important;
}
.crayon-theme-ado .crayon-table {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden!important;
}
.crayon-theme-ado .crayon-pre .crayon-c {
	color: #000000 !important;
}
.crayon-theme-ado .crayon-pre {
	color: #000000 !important;
}
